@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: Montserrat, sans-serif;
}

.container {
  max-width: 580px;
  margin: 0 auto;
  padding-bottom: 40px;
}

h1 {
  font-size: 18px;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 12px;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 100%;
}

header img {
  width: 70px;
  margin-right: 10px;
}

/* MAIN */

main {
  width: 100%;
}

.program {
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  transform: rotate(0.1deg);
  padding: 50px 0 20px 0;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.time {
  font-size: 15px;
  font-weight: 700;
  margin-right: 25px;
}

.type {
  font-size: 14px;
  margin-bottom: 8px;
}

.program .right > div {
  display: flex;
}

.duration {
  font-weight: 700;
  font-size: 13px;
}

.unseen,
.direct {
  margin-left: 25px;
  color: red;
  font-size: 13px;
  font-weight: 700;
}

/* MEDIA Q */

@media (max-width: 580px) {
  .program {
    flex-direction: column;
    align-items: flex-start;
  }

  .left {
    margin: 0 auto;
  }

  .right {
    margin-top: 20px;
    margin-left: 40px;
  }
}
